/// Footer
footer {
  background-color: #414042;

  .footer__copyright,
  .footer__address,
  .footer__link ul > li > a {
    color: #8c8b8c;
  }

  .footer__link {
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
  }
  // padding: 25px 0;
  // text-align: center;
  // span.copyright {
  //   line-height: 40px;
  //   @include header-font();
  //   text-transform: none;
  // }
  // ul.quicklinks {
  //   margin-bottom: 0;
  //   line-height: 40px;
  //   @include header-font();
  //   text-transform: none;
  // }
}
