header {
  background-image: url('/images/header-bg.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    .intro-lead-in {
      font-style: italic;
      @include serif-font();
      @include font-size(2.2);
      line-height: 22px;
      margin-bottom: 25px;
    }
    /// Heading
    /// Let's build you dreams
    .intro-heading {
      @include header-font();
      @include font-size(3.5);
      text-transform: uppercase;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
    }
  }
}
@media(min-width:768px) {
  header {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        @include serif-font();
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include header-font();
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}
