// Services Section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.services {
  .services--icon {
    width: 72px;
  }
  .services--caption {
    padding-left: 25px;
    padding-right: 25px;
  }
}
