/// Variables
$brand-primary: #4AC0BC;
$brand-danger: #e74c3c;
$brand-secondary: #FFFFFF;
$light-green: #A0DFDD;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;

/// Typography
$default-size: 1rem;
